<!DOCTYPE html>
<html>
<!-- Forgot Password Page -->
<head>
    <title>Forgot Password</title>
    <link rel="icon" type="image/png" href="/public/images/pennbooklogo.png">
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Custom CSS/js -->
    <link rel="stylesheet" type="text/css" href="/public/css/account/account.css">
</head>

<body>
    <div class="center-screen">
        <div id="forgot-card" class="card account-card">
            <div id="forgot-card-body" class="card account-card-body">
                <div class="center-box">
                    <h1 class="card-title"><b>Forgot your password?</b></h1>
                    <p class="card-title text-secondary">Enter your email address here, and we'll send you an email so you can reset your password.</p>
                    <form method='post'>
                        <p><input autofocus type="email" name='email' class="form-control" placeholder="Email address"></p>
                        <p><input type="submit" value="Create account" class="btn btn-lg btn-primary btn-block"></p>
                    </form>

                    <div class="row">
                        <div class="col-1">
                            <a href="/login" class="btn btn-outline-secondary btn-sm text-nowrap">Back to login</a>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <img id="logo-img" src="/public/images/pennbooklogo.png" height="6.5%">

    <!-- Extra Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>